#!/usr/bin/env bash

#source docker-build-env

# Paths for docker commands are relative to this file

if [ "down" = "$1" ]; then
    docker-mailhog down
    docker-postgres down
    docker-mariadb down
    docker-traefik down
else
    docker-traefik up
    docker-mariadb up
    docker-postgres up
    docker-mailhog up
fi
