#!/usr/bin/env bash

# Paths for docker commands are relative to this file

if [ "down" = "$1" ]; then
    docker-mailhog down
    docker-mariadb down
    docker-traefik down
else
    docker-traefik up
    docker-mariadb up
    docker-mailhog up
fi
